<ion-card>
  <ion-card-header (click)="navigateDetail()">
    <ion-grid>
      <ion-row>
        <ion-col size="10">
          <ion-card-title>{{case.title}}</ion-card-title>
          <ion-card-subtitle>{{case.brand}} ({{case.size}})</ion-card-subtitle>
        </ion-col>
        <ion-col size="2" class="large">
          <ion-icon name="airplane-outline"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-header>

  <ion-footer>
    <ion-buttons class="ion-justify-content-end">
      <ion-button (click)="toggleMarked()">
        <ion-icon name="heart-outline" [hidden]="case.isMarked"></ion-icon>
        <ion-icon name="heart" [hidden]="!case.isMarked"></ion-icon>
      </ion-button>
      <ion-button (click)="navigateDetail()">
        <ion-icon name="information-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-footer>
</ion-card>