<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="watch-outline"></ion-icon>
      <ion-label>Collection</ion-label>
      <ion-badge>32</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="case">
      <ion-icon name="briefcase-outline"></ion-icon>
      <ion-label>Cases</ion-label>
      <ion-badge>3</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="explore" disabled>
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>Explore</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>