<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/case"></ion-back-button>
    </ion-buttons>
    <ion-title>{{id}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="save()" danger>
        <ion-icon slot="icon-only" name="save-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="openActionSheet()">
        <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment (ionChange)="switchLayer($event.detail.value)" scrollable="true" value="{{layer?.title}}">
      <ion-segment-button value="{{layer.title}}" *ngFor="let layer of case?.layers">
        <ion-label>{{layer.title}}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center" *ngFor="let watchId of layer?.watchIds; let i = index">
      <ion-col size="12" *ngIf="i != 0 && i % layer.slotsCount == 0">
        <ion-item-divider>
          <ion-label>Rows</ion-label>
        </ion-item-divider>
      </ion-col>
      <ion-col size="12">
        {{watchId}}{{i}}
        <!--<app-slot-preview [watchId]="watchId"></app-slot-preview>-->
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

